.about {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 5px 3px 11px rgb(2, 40, 51);
    border: 2px solid rgb(169, 30, 255);
    background-image: linear-gradient(to bottom, rgb(16, 7, 97) 6%, rgb(2, 211, 211) 55%, rgb(16, 7, 97) 95%);
    box-shadow:  0px 1px 25px rgb(0, 219, 248);
    padding: 3rem;
    border-radius: 10px;
}