.profilePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  border: 2px solid rgb(169, 30, 255);
  box-shadow: 0 0 10px rgb(0, 219, 248);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 5px 3px 11px rgb(2, 40, 51);
  border: 2px solid rgb(169, 30, 255);
  background-color: rgb(16, 7, 97);
  box-shadow: 0px 1px 25px rgb(0, 219, 248);
  padding: 2rem 3rem;
  border-radius: 30px;
  width: 70rem;
  height: 40rem;
  margin: 0 auto;
  margin-top: 5.5rem;
  font-size: 2rem;
}

.about p {
  margin-bottom: 0;
}

@media only screen and (max-width: 464px) {
  .profilePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    border: 2px solid rgb(169, 30, 255);
    box-shadow: 0 0 10px rgb(0, 219, 248);
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 5px 3px 11px rgb(2, 40, 51);
    border: 2px solid rgb(169, 30, 255);
    background-image: linear-gradient(
      to bottom,
      rgb(16, 7, 97) 6%,
      rgb(2, 211, 211) 55%,
      rgb(16, 7, 97) 95%
    );
    box-shadow: 0px 1px 25px rgb(0, 219, 248);
    border-radius: 30px;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
