.formContainer {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(169, 30, 255);
    text-shadow: 4px 2px 9px rgb(0, 195, 255);
    box-shadow: 0px 1px 25px rgb(0, 219, 248);
    background-image: linear-gradient(to bottom, rgb(16, 7, 97) 6%, rgb(2, 211, 211) 55%, rgb(16, 7, 97) 95%);
    border-radius: 30px;
    padding: 50px;
    width: 50%;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.label {
    text-align: left;
    font-size: 18px;
    color: rgba(243, 152, 16, 0.87);
    margin: 10px;
}

.textField {
    display: flex;
    width: 70%;
    margin: 10px;
    border-radius: 5px;
}

.messageField {
    display: flex;
    width: 70%;
    margin-top: 3px;
    border-radius: 5px;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
    margin-top: 25px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(79, 13, 121);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

@media only screen and (max-width: 464px) {
    .formContainer {
        width: 85%;
        padding: 20px;
    }

    .textField {
        width: 90%;
    }

    .messageField {
        width: 90%;
    }

    .submitButton {
        width: 30%;
    }
}
