.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3.8rem;
  color: rgba(243, 152, 16, 0.87);
  text-shadow: 5px 3px 4px rgb(16, 17, 17);
  height: 8rem;
  background-color: rgb(16, 17, 17);
}

@media only screen and (max-width: 464px) {
  .Header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    padding-right: 15px;
    margin: 0 auto;
    align-items: center;
    font-size: 2.3rem;
    height: 6.3rem;
    width: 100%;
  }
}
