.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 0;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 4rem;
    color: rgba(243, 152, 16, 0.87);
    text-shadow: 2px 2px 5px rgb(9, 160, 206);
}