.nav-css {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-button {
    text-decoration: none;
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid rgb(169, 30, 255);
    background-image: linear-gradient(to bottom, rgb(16, 7, 97) 6%, rgb(2, 211, 211) 55%, rgb(16, 7, 97) 95%);
    padding-left: 18px;
    padding-top: 12px;
    padding-right: 18px;
    padding-bottom: 12px;
    font-size: 2rem;
    border-radius: 30px;
    box-shadow:  0 0 9px rgb(0, 219, 248);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 55, 0);
    text-shadow: 3px 3px 5px rgb(6, 6, 97);
}


a:active {
    color: blue;
}
