.pageHeaderContainer {
    margin-top: 5rem;
}

.pageHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(243, 152, 16, 0.87);
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-shadow: 2px 2px 5px rgb(9, 160, 206);
}
