body {
    background: linear-gradient(to bottom, rgb(31, 31, 31) 6%, rgb(115, 115, 115) 135%, rgb(151, 150, 150)) !important;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
  
.appContainer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  
  /* Content wrapper to manage padding or offsets */
  .contentWrapper {
    padding-top: 11rem;
  }
