.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29rem;
    height: 24rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
}

.card-img-overlay {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.card-img {
    height: 315px;
}

.card-title-container {
    display: flex;
    width: 100%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: rgb(255, 191, 71);
}

.github {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18.5rem;
    margin-left: 10rem;
    margin-right: auto;
}

.deployment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18.5rem;
    margin-left: auto;
    margin-right: 7rem;
}

.icon {
    font-size: 25px;
}

