.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 83%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29rem;
    height: 29rem;
    margin: 2rem 8rem;
    padding-left: 0;
    padding-right: 0;
    background-image: linear-gradient(to bottom, rgb(16, 7, 97) 0%, rgb(2, 211, 211) 33%, rgb(16, 7, 97) 115%);
    border-radius: 2rem;
}

.card-img-overlay {
    display: flex;
    flex-flow: row wrap;
    width: 27rem;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.card-img {
    height: 315px;
    width: 101%;
}

.card-title-container {
    display: flex;
    width: 100%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: rgb(255, 191, 71);
    padding-bottom: 1.4rem;
}

.card-title {
    font-size: 1.6rem;
    margin: 0 auto;
}

.github {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18.5rem;
    margin-left: 10rem;
    margin-right: auto;
}

.deployment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18.5rem;
    margin-left: auto;
    margin-right: 7rem;
}

.icon {
    font-size: 25px;
}

@media only screen and (max-width: 464px) {
    .card-container {
        width: 85%;
    }

    .card {
        width: 20rem;
        height: 20rem;
    }

    .card-img {
        height: 13.2rem;
    }

    .card-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 85%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 3.2rem;
    }

    .github {
        margin-top: 10rem;
        margin-left: 5rem;
    }

    .deployment {
        margin-top: 10rem;
        margin-right: 5rem;
    }

    .icon {
        font-size: 20px;
    }
}

