.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin: 0 auto;
    font-size: 30px;
    font-style: italic;
    border: 2px solid rgb(169, 30, 255);
    color: white;
    text-shadow: 4px 2px 9px rgb(0, 195, 255);
    padding: 12px;
    background-image: linear-gradient(to bottom, rgb(16, 7, 97) 6%, rgb(2, 211, 211) 55%, rgb(16, 7, 97) 95%);
    box-shadow:  0 0 11px rgb(0, 219, 248);
    border-radius: 30px;
}

.skills {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 80px auto;
    border: 2px solid rgb(169, 30, 255);
    background-image: linear-gradient(to bottom, rgb(16, 7, 97) 6%, rgb(2, 211, 211) 55%, rgb(16, 7, 97) 95%);
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 2rem;
    border-radius: 30px;
    box-shadow:  0 0 9px rgb(0, 219, 248);
    color: white;
    width: 40%;
}

.skills ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.skills li {
    list-style: none;
}



.resume:hover {
    color: rgb(255, 55, 0);
    text-shadow: 3px 3px 5px rgb(6, 6, 97);
}

