.GlassWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12rem; // 8rem header + 4rem navy
  z-index: 1000;
  background-color: rgba(16, 17, 17, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 390px) {
    height: 15.4rem; // Adjusted for mobile view
  }
}

.Header {
  position: relative;
  height: 8rem;
  margin-top: 3rem;
  font-size: 3.8rem;
  color: rgba(243, 152, 16, 0.87);
  text-shadow: 5px 3px 4px rgb(16, 17, 17);
  background-color: transparent;

  @media only screen and (max-width: 390px) {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px auto 0 auto;
    font-size: 3rem;
  }
}
