.nav-css {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  
    @media only screen and (max-width: 390px) {
      flex-direction: column;
      font-size: 2.1rem;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      height: auto;
    }
  }
  
  .btn-lg {
    background-color: unset;
    border: unset;
    text-decoration: none;
    color: rgba(243, 152, 16, 0.87);
    display: flex;
    margin: 0 25px;
    font-size: 2.2rem;
    cursor: pointer;
  
    &:hover {
      color: rgba(243, 152, 16, 0.87);
      text-shadow: 3px 3px 5px rgb(6, 6, 97);
      background-color: unset;
      font-weight: 640;
    }
  }
  
  .active-link {
    border-bottom: 2px solid rgba(243, 152, 16, 0.87);
    border-radius: unset;
  }
  
  a {
    color: rgba(243, 152, 16, 0.87);
    text-shadow: 3px 2px 3px black;
    text-decoration: none;
  }
  
  .nav-button {
    @media only screen and (max-width: 390px) {
      display: flex;
      margin-top: 2rem;
      padding: 12px 15px;
      font-size: 2rem;
      border-radius: 20px;
      width: 10rem;
  
      a {
        margin: 0 auto;
      }
    }
  }
  