/* =============================
   Variables
   ============================= */
   $button-bg: rgb(39, 79, 211);
   $button-text: rgb(255, 174, 0);
   $button-shadow: rgb(245, 201, 6);
   $button-hover-shadow: rgb(6, 6, 97);
   $button-glow: rgb(0, 195, 255);
   
   $font-xl: 3rem;
   $font-lg: 30px;
   
   /* =============================
      Section Titles
      ============================= */
   .sectionTitle {
     font-size: $font-xl;
     font-weight: bold;
     margin-top: 13rem;
     margin-bottom: 0.5em;
     color: white;
     text-align: center;

    @media only screen and (max-width: 390px) {
      margin-top: 16rem;
    }
   }
   
   /* =============================
      Resume Button
      ============================= */
   .resumeButtonWrapper {
     margin-bottom: 2rem;
   }
   
   .resumeButton {
     display: flex;
     text-decoration: none;
     justify-content: center;
     align-items: center;
     width: 10%;
     margin: 0 auto;
     font-size: $font-lg;
     font-style: italic;
     color: $button-text;
     text-shadow: 4px 2px 9px $button-glow;
     padding: 12px;
     background-color: $button-bg;
     box-shadow: 0 0 11px $button-shadow;
     border-radius: 30px;
   
     &:hover {
       color: $button-text;
       text-shadow: 3px 3px 5px $button-hover-shadow;
     }
   }
   