.skillsContainer {
  margin-top: 2rem;
}

.skillsSection {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.skillsTitle {
  margin: 0 auto 1rem auto;
  width: 95%;
  padding: 0.8rem;
  background: linear-gradient(
    to bottom,
    rgba(162, 1, 243, 0.08),    // top: transparent purple
    rgba(255, 100, 0, 0.08)     // bottom: transparent orange
  );
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 4rem;
  color: rgba(255, 200, 120, 0.9);
  font-size: 2.2rem;
  text-align: center;
  text-shadow: 2px 5px 7px black;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 48 28 13px rgba(0, 0, 0, 0.5);
}

.skillsSubsection {
  margin: 2rem auto 3rem auto;
}

.subsectionTitle {
  font-size: 1.3rem;
  margin: 1rem 0 1.2rem; // top + bottom spacing
  text-align: center;
  font-weight: 600;

  &.fluent {
    color: #38c172; // green
  }

  &.learning {
    color: #f9c74f; // yellow
  }

  &.refreshing {
    color: #00b4d8; // blue
  }
}

.skillsGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
  justify-items: center;
  justify-content: center;
}

.skillCard {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 1rem;
  padding: 1rem;
  max-width: 9rem;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon {
  font-size: 2rem;
}

.label {
  margin-top: 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width: 390px) {
  .skillsTitle {
    margin-top: 7rem;
  }
}
